@import "../ngmaterial.module/custom-theme.scss";

@keyframes slideInFromBottom {
  0% {
    transform: translateY(-100%);
  }
  100% {
    transform: translateY(0);
  }
}

.fa, .footer-copyright {
  animation: 2s ease-in-out 1 slideInFromBottom;

}

footer {
    background: whitesmoke;
    padding-top: 1em !important;
    position: relative;
  }

  #btnSocial {
    font-size: 2em;
  }

  footer a, span {
    color: mat-color($custom-theme-primary, default);
    padding: 10px;
    transition: all .3s ease;
  }
 
  footer a:hover {
    color: mat-color($custom-theme-accent, default);
  }

  #txtCopyright {
    font-size: 15px;
  }