<!-- Footer -->
<footer [@footerAnim]="{value: '', params: {delay:delay}}" id="footer-id" class="page-footer font-small pt-4">

        <!-- Footer Links -->
        <div class="container-fluid  text-center text-md-center">
        
          <!-- Grid row -->
          <div class="row">

            <!-- Grid column -->
            <div class="col">
    
                <!-- Links -->
                <a id="btnSocial" href="https://www.linkedin.com/in/stefanimoore/" target="_blank"><i class="fa fa-linkedin-square"></i></a>
                <a id="btnSocial" href="https://github.com/moorStef" target="_blank"><i class="fa fa-github"></i></a>        
                <a id="btnSocial" href="https://www.instagram.com/gwen_stefawn/" target="_blank"><i class="fa fa-instagram"></i></a>
                <a id="btnSocial" href="mailto:stefaniann@gmail.com"><i class="fa fa-envelope"></i></a>

              </div>
              <!-- Grid column -->

          </div>
          <!-- Grid row -->
    
        </div>
        <!-- Footer Links -->
    
        <!-- Copyright -->
        <div id="txtCopyright" class="footer-copyright text-center py-3">Designed & Developed By: 
          <br>
          <span>Stefani Newton</span>
          <!-- <a href="https://github.com/moorStef"> Stefani Newton</a> -->
        </div>
        <!-- Copyright -->
    
      </footer>
      <!-- Footer -->