@import "../ngmaterial.module/custom-theme.scss";

footer {
    background: whitesmoke;
    padding-top: 1em !important;
  }

  #btnSocial {
    font-size: 2em;
  }

  footer a, span {
    color: mat-color($custom-theme-primary, default);
    padding: 10px;
    transition: all .3s ease;
  }
 
  footer a:hover {
    color: mat-color($custom-theme-accent, default);
  }

  #txtCopyright {
    font-size: 15px;
  }