
<mat-tab-group class="strength-tabs" mat-align-tabs="center" animationDuration="1000ms">
  <mat-tab label="Family">

      <h1>Some tab content</h1>
      <p>...</p>

  </mat-tab>
  <mat-tab label="Hobbies">

      <h1>Some more tab content</h1>
      <p>...</p>

  </mat-tab>
  <mat-tab label="Strengths">
    <div class="container-fluid">
      <div class="row">
        <div class="col-sm">
          <div class="shadow p-3 mb-5 bg-white rounded">
            <div class="card">
              <img src="../../assets/img/futuristic.jpg" class="card-img-top" alt="...">
              <div class="card-body">
                <h5 class="card-title">Futuristic</h5>
                <p class="card-text"> "People exceptionally talented in the Futuristic theme are inspired
                    by the future and what could be. They energize others with their
                    visions of the future."</p>
              </div>
            </div> 
          </div>
        </div>
        <div class="col-sm">
            <div class="shadow p-3 mb-5 bg-white rounded">
                <div class="card">
                  <img src="../../assets/img/learner.jpg" class="card-img-top" alt="...">
                  <div class="card-body">
                    <h5 class="card-title">Learner</h5>
                    <p class="card-text"> "People exceptionally talented in the Learner theme have a great
                        desire to learn and want to continuously improve. The process of
                        learning, rather than the outcome, excites them."</p>
                  </div>
                </div> 
              </div>
        </div>
        <div class="col-sm">
            <div class="shadow p-3 mb-5 bg-white rounded">
                <div class="card">
                  <img src="../../assets/img/intellection.jpg" class="card-img-top" alt="...">
                  <div class="card-body">
                    <h5 class="card-title">Intellection</h5>
                    <p class="card-text"> "People exceptionally talented in the Intellection theme are
                        characterized by their intellectual activity. They are introspective
                        and appreciate intellectual discussions."</p>
                  </div>
                </div> 
              </div>
        </div>
      </div>
      <div class="row">
          <div class="col-sm">
              <div class="shadow p-3 mb-5 bg-white rounded">
                  <div class="card">
                    <img src="../../assets/img/restorative.jpg" class="card-img-top" alt="...">
                    <div class="card-body">
                      <h5 class="card-title">Restorative</h5>
                      <p class="card-text"> "People exceptionally talented in the Restorative theme are adept
                          at dealing with problems. They are good at figuring out what is
                          wrong and resolving it."</p>
                    </div>
                  </div> 
                </div>
          </div>
          <div class="col-sm">
              <div class="shadow p-3 mb-5 bg-white rounded">
                  <div class="card">
                    <img src="../../assets/img/input.jpeg" class="card-img-top" alt="...">
                    <div class="card-body">
                      <h5 class="card-title">Input</h5>
                      <p class="card-text"> "People exceptionally talented in the Input theme have a need to
                          collect and archive. They may accumulate information, ideas,
                          artifacts or even relationships."</p>
                    </div>
                  </div> 
                </div>
          </div>
          <div class="col-sm">
              <div class="shadow p-3 mb-5 bg-white rounded">
                  <div class="card">
                    <img src="../../assets/img/focus.jpg" class="card-img-top" alt="...">
                    <div class="card-body">
                      <h5 class="card-title">Focus</h5>
                      <p class="card-text"> "People exceptionally talented in the Focus theme can take a direction, 
                        follow through and make the corrections necessary to stay on track. They prioritize, then act."</p>
                    </div>
                  </div> 
                </div>
          </div>
        </div>
    </div>

<div class="container-fluid">     
  <div class="row">
    <div class="col-sm-12">
      <div class="text-center">
        <a href="https://www.gallupstrengthscenter.com/home/en-us" class="btn btn-primary" target="_blank">More Info on the Clifton Strength Assessment</a>
        <a href="../../assets/img/GallupReport_Stefani.pdf" class="btn btn-primary" target="_blank">View My Full Report</a>
      </div>
    </div>
  </div>
</div>
  </mat-tab>
  <mat-tab label="Random">

      <h1>Some more tab content</h1>
      <p>...</p>

  </mat-tab>
</mat-tab-group>
