@import "../ngmaterial.module/custom-theme.scss";

@keyframes slideInFromLeft {
    0% {
        transform: translateX(-100%);
    }
    100% {
        transform: translateX(0);
    }
}

.navbar {
    background-color: mat-color($custom-theme-primary,800);
    padding:0px !important; 
    .nav {
        align-items: center;
    } 
    animation: 2s ease-out 0s 1 slideInFromLeft;
}

.nav-link, .navbar-brand {
    color: white !important;
    transition: all .3s ease;
    padding:5px !important; 

    &:hover {
        color: $accent !important;
    }
}

.nav-item {
    font-size:1.1em;
}

@media (min-width: 992px){
    .navbar li {
        margin-left : 2em;
        margin-right : 2em;
    }
}

.navbar-toggler-icon {
    color: white !important;
}

.material-icons.sm-light { color:mat-color($custom-theme-accent, default); }
.material-icons.sm-light.md-inactive { color: mat-color($custom-theme-accent, default); }

.material-icons {
    font-size: 32px;
}