@import "../ngmaterial.module/custom-theme.scss";

#userDetails {
    margin-top: 1em;
}

.card-btn {
    color: mat-color($custom-theme-accent, 800);
}

.row {
    margin-bottom: 20px;
}

p {
    margin: 0;
}