<div class="partial-view">
    <div class="container" id="userDetails">
        <div class="row align-items-center" padding=20px></div> 
        <div class="row align-items-center">
            <div class="col-4">
                <img src="../../assets/img/Picture3.png" class="img-fluid" alt="Responsive image">    
            </div>
            <div class="col-8">
                    <div class="shadow p-3 mb-5 bg-white rounded">
                <div id="main-content" class="jumbotron">
                    <h1 class="display-4">Hello<wbr>, I'm<wbr> Stef<wbr>ani<wbr>!</h1>
                    <!-- <hr class="my-4"> -->
                    <p class="lead">I'm a software engineer based in Denver, Colorado that is transitioning from test automation to a web development role!</p>
                    <!-- <hr class="my-4"> -->
                    <div class="container text-center">
                        <a href="/resume" class="btn btn-primary text-center" role="button">Resume</a>
                        <a href="#" class="btn btn-primary text-center" role="button">Projects</a>
                    </div>
                </div>
                </div>
                <!-- <mat-card>
                    <mat-card-title>Hello, I'm Stefani!</mat-card-title>
                    <mat-card-content>I'm a software engineer based in Denver, Colorado that is transitioning from test automation to a web development role!</mat-card-content>
                    <mat-card-actions>
                        <button mat-button class="card-btn">Resume</button>
                        <button mat-button class="card-btn">Projects</button>
                    </mat-card-actions>
                </mat-card> -->
            </div>
        </div>           
    </div>
</div>